 *{
    box-sizing: border-box;
}

:root {
    --box-shadow: 1px 3px  gray;
}
h4 {
    margin: 0;
    margin-top: 5px;
}
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

}
.name {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 0 5px 5px;
}
.homeBtn  {
    position: absolute;
    top: 35px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid black;
} 
 a{
    text-decoration-line: none; 
}
.homeBtn:focus {
    outline: none;
}
.homeBtn:active {
    transform: scale(.95);
}
.balanceCircle, .expenseCircle {
    border: 12px solid gray;
    border-radius: 50%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 130px;
    height: 100px;
    margin-top: 10px;
}
/* .circle {
    stroke: lightgray;
    stroke-width: 15px;
    stroke-linecap: round;
    fill: transparent;        
} */
.container {
    width: 350px;
}
.currency {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 10px;
}
.currency h4 {
    margin: 0;
    margin-bottom: 5px;
    color: teal;
}
.balance {
    height: 200px;
    position: relative;
}
.balance, .income, .expense {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
}
.balance h4 {
    margin: 5px 0;
}


.balanceText {
    margin: 0;
    padding: 0;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 140px;
}
.expense {
    height: 200px;
    position: relative;
}

.expenseText {
    margin: 0;
    padding: 0;
    color: orangered;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 140px;
}
.income span{
    color: green;
}
.income h4 {
    margin: 5px 0;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list li {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 1px 2px gray;
    position: relative;
}
 .moneyPlus {
    color: #00b386;
}
 .moneyMinus {
   color: orangered; 
}
.list li .deleteBtn {
   background-color: red;
   border: 0;
   color: white;
   position: absolute;
   top: 50%;
   left: 0;
   transform: translate(-140%,-50%);
   opacity: 0;
   cursor: pointer;
   
}
.list li:hover .deleteBtn {
   opacity: 1; 
}
.add-transaction {
   margin-top: 20px; 
}
.add-transactionBtn {
margin: 20px 0;
border: 2px dashed black;
padding: 20px 0;  
font-size: 25px;
width: 100%;
cursor: pointer;
}
.add-transactionBtn:focus {
    outline: none;
}
.add-transaction-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
     display: none;  
}
.add-transaction-container {
    background-color: royalblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 250px;
    display: flex;
}
h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    color: white;
}
.form h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.add-transaction-container .closeBtn {
    color:white;
    background-color: transparent;
    width: 25px;
    height: 20px;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}
.add-transaction-container .closeBtn:focus {
    outline: none;
}
.add-transaction-container .closeBtn:active {
    transform: scale(.95);
}
.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}
.form label {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
   text-align: start;
}
.form input {
    padding: 5px;
    width: 300px;
    margin-bottom: 5px;
}
.form .radioButton {
    display: flex;
    margin: 5px 0;
   width: 170px;
  margin-top: 0;
}


.form .addTransactionBtn {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin: 0 auto;
}
@media (max-width: 700px){
  .list li:hover {
      width: 300px;
  }
  .list li .deleteBtn {
    transform: translate(1500%,-50%); 
  }       
}
@media (min-width: 750px){
    .homeBtn {
       top: 110px; 
       left: 35px; 
    }
}
@media (max-width: 290px){
    .homeBtn {
       top: 0; 
       left: 0; 
    }
}



